<div class="row mb-1">
  <div class="col col-3"></div>
  <div class="col col-6 bg-success">
    <form action="/facility/edit" method="post">
      <div class="text-light">
        <div class="row mt-1 mb-1">
          <div class="col-5"><h3 class="mt-1 mb-2 text-uppercase text-center">Create Facility:</h3></div>
          <div class="col-7">
            <div class="row">
              <div class="col-3"><label for="facilityType"><b>FacilityType:</b></label></div>
              <div class="col-9"><select id="facilityType" required
                                         class="form-select" aria-label="Default select example">
                <option value="" selected>Chosce Facility</option>
                <option></option>
              </select></div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row mb-1">
          <div class="col-3"><label for="name" class="form-label"><b>FacilityName:</b></label></div>
          <div class="col-9"><select id="name" required
                                     class="form-select" aria-label="Default select example">
            <option value="Villa Beach Front">Villa Beach Front</option>
            <option value="Villa No Beach Front">Villa No Beach Front</option>
            <option value="House Princess 01">House Princess 01</option>
            <option value="House Princess 03">House Princess 03</option>
            <option value="Room Twin 01">Room Twin 01</option>
            <option value="Room Twin 02">Room Twin 02</option>
          </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-3">
            <label for="descriptionOtherConvenience" class="form-label"><b>OtherConvenience:</b></label>
          </div>
          <div class="col-9">
            <input type="text" class="form-control text-light" id="descriptionOtherConvenience">
            <small>Example:Massage Body</small>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3"><label for="cost" class="form-label"><b>Cost(USD):</b></label></div>
          <div class="col-9">
            <input type="text" class="form-control text-light" id="cost"> <small>Example:2000,1000 or 500</small>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3"><label for="numberOfFloors" class="form-label"><b>NumberFloors:</b></label></div>
          <div class="col-9">
            <input type="text" class="form-control text-light" id="numberOfFloors"> <small>Example:3,5 or 7</small>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3"><label for="facilityFree"><b>FacilityFree:</b></label></div>
          <div class="col-9">
            <input type="text" class="form-control text-light" id="facilityFree"> <small>Example:1 bike,1
            bicycle</small>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3"><label for="rentType" class="form-label"><b>RentType:</b></label></div>
          <div class="col-9">
            <select id="rentType" class="form-select" aria-label="Default select example">
              <option>ABC</option>
            </select>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3"><label for="standardRoom" class="form-label"><b>StandardRoom:</b></label></div>
          <div class="col-9">
            <input type="text" class="form-control text-light" id="standardRoom"> <small>Example:Vip or Nomal</small>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3"><label for="area" class="form-label"><b>Area(m<sup>2</sup>):</b></label></div>
          <div class="col-9">
            <input type="text" class="form-control text-light" id="area"> <small>Example:100,300,500 or 1000</small>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-3"><label for="maxPeople" class="form-label"><b>MaxPeople:</b></label></div>
          <div class="col-9">
            <input type="text" class="form-control text-light" id="maxPeople" required>
            <small>Example:5 or 9 or 13</small>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col-3"><label for="poolArea" class="form-label"><b>PoolArea(m<sup>2</sup>):</b></label></div>
          <div class="col-9"><input type="text" class="form-control text-light" id="poolArea">
            <small>Example:30 or 40 or 50</small>
          </div>
        </div>
        <hr>

        <div class="d-flex justify-content-center mb-1">
          <table>
            <tr>
              <td>
                <button type="submit" class="btn btn-primary"><b>Create Facility</b></button>
              </td>
              <td>
                <a href="" class="btn btn-primary"><i
                  class="bi bi-house-heart-fill"></i>Back To Facility List</a>
              </td>
            </tr>
          </table>
        </div>

      </div>
    </form>

  </div>
  <div class="col col-3"></div>
</div>

