<div class="row">
  <div class="col col-1"></div>
  <div class="col col-10">
    <table class="table table-dark text-center table-hover text-light">
      <thead>
      <tr>
        <th colspan="11"><h3>CustomerList</h3>
          <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModalEdit"> Create new Customer
          </button>
        </th>
      </tr>
      <tr>
        <th>STT</th>
        <th>Customer Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>IdCard</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>Address</th>
        <th>CustomerType</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-danger" *ngFor="let customer of customerList;index as i">
        <th>{{i+1}}</th>
        <td>{{customer.name}}</td>
        <td>{{customer.birthday|date:"dd/MM/yyyy"}}</td>
        <td>{{customer.gender?'Male':'Female'}}</td>
        <td>{{customer.idCard}}</td>
        <td>{{customer.phoneNumber}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.customerType?.name}}</td>
        <td>
          <button type="button" class="btn btn-outline-danger" [routerLink]="['/customer/edit',customer.id]">Edit</button>
        </td>
        <td>
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="sendId(customer.id)"> Delete
          </button>
        </td>
      <tr>
      </tbody>
    </table>
  </div>
  <div class="col col-1"></div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <h3 class="text-danger text-center">Bạn có chắc muốn xóa thông tin của sản phẩm này không?</h3>
        <div class="row text-primary">
          <div class="col-3"><h4>ID:</h4></div>
          <div class="col-9"><h4>{{temp.id}}</h4></div>
        </div>
        <div class="row text-primary">
          <div class="col-3"><h4>Name:</h4></div>
          <div class="col-9"><h4>{{temp.name}}</h4></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="deleteProduct()">Save changes
        </button>
      </div>
    </div>
  </div>
</div>
