<div class="container">
  <div class="row" >
    <div class="col col-4" *ngFor="let faci of facilityList">
      <div class="card">
        <img src="https://media-cdn.tripadvisor.com/media/vr-splice-j/09/88/5e/ac.jpg" class="card-img-top"
             alt="Fissure in Sandstone"/>
        <div class="card-body bg-success text-light">
          <h3 class="card-title text-center "><b>{{faci.facilityType?.name}}</b></h3>
          <hr>
          <div class="row">
            <table>
              <tr>
                <th>FacilityName:</th>
                <td>{{faci.name}}</td>
              </tr>
              <tr>
                <th>Area:</th>
                <td>{{faci.area}}m<sup>2</sup></td>
              </tr>
              <tr>
                <th>Cost(VND):</th>
                <td>{{faci.cost | currency:'VND':true}}</td>
              </tr>
              <tr>
                <th>MaxPeople:</th>
                <td>{{faci.maxPeople}}</td>
              </tr>
              <tr>
                <th>StandardRoom:</th>
                <td>{{faci.standardRoom}}</td>
              </tr>
              <tr>
                <th>DescriptionConvenience:</th>
                <td>{{faci.descriptionOtherConvenience}}</td>
              </tr>
              <tr *ngIf="faci.poolArea">
                <th>PoolArea:</th>
                <td>{{faci.poolArea}}m<sup>2</sup></td>
              </tr>
              <tr *ngIf="faci.numberOfFloors">
                <th>NumberOfFloors:</th>
                <td>{{faci.numberOfFloors}}</td>
              </tr>
              <tr *ngIf="faci.facilityFree">
                <th>FacilityFree:</th>
                <td>{{faci.facilityFree}}</td>
              </tr>
              <tr>
                <th>RentType :</th>
                <td>{{faci.rentType?.name}}</td>
              </tr>
            </table>
          </div>
          <hr>
          <div class="row text-center">
            <table>
              <tr>
                <td><a href="#!" class="btn btn-primary">Delete</a></td>
                <td><a href="#!" class="btn btn-primary">Edit</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

