<div class="container mb-1">
  <div class="row">
    <div class="col col-4">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top"
             alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title text-center text-danger"><b>Villa</b></h5>
          <div class="row">
            <table>
              <tr>
                <th>Tên dịch vụ:</th>
                <td>Super Villa</td>
              </tr>
              <tr>
                <th>Diện tích:</th>
                <td>5000m<sup>2</sup></td>
              </tr>
            </table>
          </div>
          <div class="row text-center">
            <table>
              <tr>
                <td><a href="#!" class="btn btn-primary">Delete</a></td>
                <td><a href="#!" class="btn btn-primary">Edit</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col col-4">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top"
             alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title text-center text-danger"><b>House</b></h5>
          <div class="row">
            <table>
              <tr>
                <th>Tên dịch vụ:</th>
                <td>Super House</td>
              </tr>
              <tr>
                <th>Diện tích:</th>
                <td>1000m<sup>2</sup></td>
              </tr>
            </table>
          </div>
          <div class="row text-center">
            <table>
              <tr>
                <td><a href="#!" class="btn btn-primary">Delete</a></td>
                <td><a href="#!" class="btn btn-primary">Edit</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="col col-4">
      <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top"
             alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title text-danger text-center"><b>Room</b></h5>
          <div class="row">
            <table>
              <tr>
                <th>Tên dịch vụ:</th>
                <td>Super Room</td>
              </tr>
              <tr>
                <th>Diện tích:</th>
                <td>500m<sup>2</sup></td>
              </tr>
            </table>
          </div>
          <div class="row text-center">
            <table>
              <tr>
                <td><a href="#!" class="btn btn-primary">Delete</a></td>
                <td><a href="#!" class="btn btn-primary">Edit</a></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

