<div class="row navbar">
  <nav class="navbar navbar-expand-lg navbar-dark bg-success" style="font-size: 25px;">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
             routerLink=""><i
            class="fa fa-home"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Nhân Viên </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"
                   href="http://localhost:63342/castudy_module3/task_1.4/display_and_delete_employee.html?_ijt=llv7c3qg7pq7ptmrtuh2bvqq41&_ij_reload=RELOAD_ON_SAVE">Danh
              Sách</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">Dịch vụ</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"
                   href="http://localhost:63342/castudy_module3/task%20_1.2/display%20_and%20_delete_facility.html?_ijt=32a06pgss5rre7ndnvu4d22vd8&_ij_reload=RELOAD_ON_SAVE">Danh
              Sách</a>
            </li>
            <li><a class="dropdown-item"
                   href="http://localhost:63342/castudy_module3/task%20_1.2/add_facility.html?_ijt=32a06pgss5rre7ndnvu4d22vd8&_ij_reload=RELOAD_ON_SAVE">Thêm</a>
            </li>
            <li><a class="dropdown-item"
                   href="http://localhost:63342/castudy_module3/task%20_1.2/edit_facility.html?_ijt=32a06pgss5rre7ndnvu4d22vd8&_ij_reload=RELOAD_ON_SAVE">Xóa</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false"> Khách Hàng </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"
                   href="http://localhost:63342/castudy_module3/task_1.3/display_customer.html?_ijt=hi8h2cabenevtsukjcgmi7j5bq&_ij_reload=RELOAD_ON_SAVE">Danh
              Sách</a>
            </li>
            <li><a class="dropdown-item"
                   href="http://localhost:63342/castudy_module3/task_1.3/add_customer.html?_ijt=hi8h2cabenevtsukjcgmi7j5bq&_ij_reload=RELOAD_ON_SAVE">Thêm</a>
            </li>
            <li><a class="dropdown-item"
                   href="http://localhost:63342/castudy_module3/task_1.3/edit_customer.html?_ijt=hi8h2cabenevtsukjcgmi7j5bq&_ij_reload=RELOAD_ON_SAVE">Xóa</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
             href="http://localhost:63342/castudy_module3/task_1.5/list_contract.html?_ijt=ickg1dpcvc3c2c5hs6q7430acu&_ij_reload=RELOAD_ON_SAVE">Contract</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="TrầnGiaGia" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

