<div class="row">
  <div class="col col-1"></div>
  <div class="col col-10">
    <table class="table table-dark text-center table-hover text-light">
      <thead>
      <tr>
        <th colspan="9">
          <h3><b>Contract List</b></h3>
          <button type="button" class="btn btn-primary me-auto" data-bs-target="#addContract"
                  data-bs-toggle="modal">
            Create Contract
          </button>
        </th>
      </tr>
      <tr>
        <th>#</th>
        <th hidden>C.id</th>
        <th>Facility</th>
        <th>CustomerName</th>
        <th>StarDate</th>
        <th>EndDate</th>
        <th>Deposit(USD)</th>
        <th>TotalMoney(USD)</th>
        <th colspan="2">AttachFacilities</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>
          <button class="btn btn-primary"> +
          </button>
        </td>
        <td>
          <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                  data-bs-target="#exampleModalEdit"> AttachFacilityList
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col col-1"></div>

</div>
