<div class="container">
  <div class="row">
    <div class="col col-4" *ngFor="let faci of facilityList">
      <div class="card">
        <img src="https://media-cdn.tripadvisor.com/media/vr-splice-j/09/88/5e/ac.jpg" class="card-img-top"
             alt="Fissure in Sandstone"/>
        <div class="card-body bg-success text-light">
          <h3 class="card-title text-center "><b>{{faci.facilityType?.name}}</b></h3>
          <hr>
          <div class="row">
            <table>
              <tr>
                <th>FacilityName:</th>
                <td>{{faci.name}}</td>
              </tr>
              <tr>
                <th>Area:</th>
                <td>{{faci.area}}m<sup>2</sup></td>
              </tr>
              <tr>
                <th>Cost(VND):</th>
                <td>{{faci.cost | currency:'VND':true}}</td>
              </tr>
              <tr>
                <th>MaxPeople:</th>
                <td>{{faci.maxPeople}}</td>
              </tr>
              <tr>
                <th>StandardRoom:</th>
                <td>{{faci.standardRoom}}</td>
              </tr>
              <tr>
                <th>DescriptionConvenience:</th>
                <td>{{faci.descriptionOtherConvenience}}</td>
              </tr>
              <tr *ngIf="faci.poolArea">
                <th>PoolArea:</th>
                <td>{{faci.poolArea}}m<sup>2</sup></td>
              </tr>
              <tr *ngIf="faci.numberOfFloors">
                <th>NumberOfFloors:</th>
                <td>{{faci.numberOfFloors}}</td>
              </tr>
              <tr *ngIf="faci.facilityFree">
                <th>FacilityFree:</th>
                <td>{{faci.facilityFree}}</td>
              </tr>
              <tr>
                <th>RentType :</th>
                <td>{{faci.rentType?.name}}</td>
              </tr>
            </table>
          </div>
          <hr>
          <div class="row text-center">
            <table>
              <tr>
                <td><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            (click)="sendId(faci.id)"> Delete
                </button>/td>
                <td>
                  <button type="button" class="btn btn-outline-danger" [routerLink]="['/facility/edit',faci.id]">
                    Edit
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODAL DELETE-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
     data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
        <h3 class="text-danger text-center">Bạn có chắc muốn xóa thông tin của sản phẩm này không?</h3>
        <div class="row text-primary">
          <div class="col-3"><h4>ID:</h4></div>
          <div class="col-9"><h4>{{temp.id}}</h4></div>
        </div>
        <div class="row text-primary">
          <div class="col-3"><h4>Name:</h4></div>
          <div class="col-9"><h4>{{temp.name}}</h4></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary" (click)="deleteFacility()">Save changes
        </button>
      </div>
    </div>
  </div>
</div>
