<div class="row mb-1">
  <div class="col col-3"></div>
  <div class="col-xl-6 bg-success">
    <form action="" method="post">
      <div class="text-light">
        <h3 class="mt-1 mb-2 text-uppercase text-center">Create new Contract</h3>
        <hr>

        <div class="row mb-2">
          <div class="col-3"><label class="form-label" for="CustomerName">CustomerName:</label></div>
          <div class="col-9">
            <select class="form-select-lg text-primary w-100" id="CustomerName">
              <option selected>-- Choosen---</option>
              <option value="1">A</option>
            </select>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3"><label class="form-label" for="FacilityName">FacilityName:</label></div>
          <div class="col-9">
            <select class="form-select-lg text-primary w-100" id="FacilityName">
              <option selected>-- Choosen---</option>
              <option value="1">A</option>
            </select>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3"><label class="form-label" for="EmployeeName">EmployeeName:</label></div>
          <div class="col-9">
            <select class="form-select-lg text-primary w-100" id="EmployeeName">
              <option selected>-- Choosen---</option>
              <option value="1">A</option>
            </select>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col col-3 form-labe " for="StartDate">StartDate: </label>
          </div>
          <div class="col-9">
            <input type="date" id="StartDate"
                   class="form-control form-control-lg text-primary"/>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col col-3 form-labe " for="EndDate">EndDate: </label>
          </div>
          <div class="col-9">
            <input type="date" id="EndDate"
                   class="form-control form-control-lg text-primary"/>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-3">
            <label class="col col-3 form-labe " for="Deposit">Deposit: </label>
          </div>
          <div class="col-9">
            <input type="text" id="Deposit"
                   class="form-control form-control-lg text-primary"/>
          </div>
        </div>

        <div class="d-flex justify-content-center mb-1">
          <table>
            <tr>
              <td>
                <button type="submit" class="btn btn-primary"><b>Create Contract</b></button>
              </td>
              <td>
                <a href="" class="btn btn-primary"><i
                  class="bi bi-house-heart-fill"></i>Back To Contract List</a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </form>
  </div>
  <div class="col col-3"></div>
</div>
