<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <h5 class="text-center text-danger">Cập nhật thông tin danh mục sản phẩm</h5>
    <form [formGroup]="categoryForm" (ngSubmit)="updateCategory()">
      <table class="table table-dark">
        <thead></thead>
        <tbody>
        <tr hidden>
          <td><input type="text" formControlName="id"></td>
        </tr>
        <tr>
          <td>Tên danh mục:</td>
          <td><input type="text" formControlName="name"></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button class="btn btn-primary">Cập nhật</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div class="col-4"></div>
</div>
