<h1>color works!</h1>
<h1 [ngStyle]="{color:selected}">Color</h1>
<select (click)="choosenColor($event.target)">
  <option value="">Choosen Color</option>
  <option value="red">Red</option>
  <option value="blue">Blue</option>
  <option value="purple">Purple</option>
</select>
<h2 [ngStyle]="{color:selected}" >Image</h2>
<select (click)="choosenImg($event.target)">
  <option value="">Choosen IMG</option>
  <option value="https://znews-photo.zingcdn.me/w660/Uploaded/qhj_yvobvhfwbv/2018_07_18/Nguyen_Huy_Binh1.jpg">Anh be trai</option>
  <option value="https://znews-photo.zingcdn.me/w660/Uploaded/qhj_yvobvhfwbv/2018_07_18/Dzung_Nguyen_.jpg">Anh be gai</option>
  <option value="https://znews-photo.zingcdn.me/w660/Uploaded/qhj_yvobvhfwbv/2018_07_18/Le_Viet_Khanh.jpg">Anh dep</option>
</select><br>
<img src="{{url}}" >
<img [src]="url" >
